# Метро
В этом задании требуется определить, на каких станциях московского метро сейчас идёт ремонт эскалаторов и вывести на экран их названия.

Файл с данными можно скачать на странице http://data.mos.ru/opendata/624/row/1773539.

In [1]:
!ls

Homework_Metro.ipynb
bus_stops.csv
data-397-2019-08-27.json
env
homework_Количество_остановок.ipynb
lesson1.ipynb
lesson2.ipynb
lesson_2_part2.ipynb

In [5]:
import pandas as pd

In [9]:
metro_data = pd.read_json('data-397-2019-08-27.json', orient='columns', encoding='cp1251')
metro_data

,0,1,2,3,4,5,6,7,8,9,...,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066
0,"{'global_id': 1773538, 'NameOfStation': 'Китай...","{'global_id': 1773539, 'NameOfStation': 'Китай...","{'global_id': 1773540, 'NameOfStation': 'Китай...","{'global_id': 1773541, 'NameOfStation': 'Китай...","{'global_id': 1773542, 'NameOfStation': 'Китай...","{'global_id': 1773543, 'NameOfStation': 'Китай...","{'global_id': 1773544, 'NameOfStation': 'Китай...","{'global_id': 1773545, 'NameOfStation': 'Китай...","{'global_id': 1773546, 'NameOfStation': 'Китай...","{'global_id': 1773547, 'NameOfStation': 'Калуж...",...,"{'global_id': 930071455, 'NameOfStation': 'Фил...","{'global_id': 930071460, 'NameOfStation': 'Про...","{'global_id': 930071468, 'NameOfStation': 'Про...","{'global_id': 930071478, 'NameOfStation': 'Оль...","{'global_id': 930071482, 'NameOfStation': 'Ком...","{'global_id': 930071489, 'NameOfStation': 'Ком...","{'global_id': 930071511, 'NameOfStation': 'Ком...","{'global_id': 930071523, 'NameOfStation': 'Ком...","{'global_id': 930238047, 'NameOfStation': 'Кос...","{'global_id': 930240593, 'NameOfStation': 'Кос..."

In [3]:
new_metro_data = metro_data[['NameOfStation', 'RepairOfEscalators']]
new_metro_data

NameError: name 'metro_data' is not defined

In [52]:
d_metro = new_metro_data.to_dict(orient='records')
d_metro
stations = []
for d in range(0, len(d_metro)):
    if len(d_metro[d]['RepairOfEscalators']) != 0:
        print(d_metro[d]['RepairOfEscalators'])
        print(d_metro[d]['NameOfStation'])
        if d_metro[d]['NameOfStation'] not in stations:
            stations.append(d_metro[d]['NameOfStation'])

[{'RepairOfEscalators': '31.07.2019-23.08.2019'}]
Таганская
[{'RepairOfEscalators': '31.07.2019-23.08.2019'}]
Таганская
[{'RepairOfEscalators': '25.02.2019-24.05.2019'}]
ЦСКА
2

In [54]:
print(len(stations))
print("На станциях следующих станциях метро сейчас идет ремонт: ", stations)

2
На станциях следующих станциях метро сейчас идет ремонт:  ['Таганская', 'ЦСКА']